body{
    background-color: orange;
}
header{
    background-color: orangered;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: xx-large;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: larger;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
p{
    font-size:medium;
}
main{
    background-color: orangered;
    border-radius: 10px;
}
aside{
    background-color: orangered;
    border-radius: 10px;
}
footer{
 background: skyblue;
 border-radius: 10px;   
}
nav li{
border: 2px;
accent-color: white;
background-color: orangered;
list-style-type: none;
}
nav li a{
    text-align: center;
    background-color: purple;
    text-decoration: none;
}
nav li:hover{
    background-color: green;
}
.active{
    background-color: black;
}
